<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserInfoMapper" >
	<resultMap id="BaseResultMap" type="com.vo.UserInfo" >
	  <id column="user_id" property="userId" jdbcType="INTEGER" />
	  <result column="group_id" property="groupId" jdbcType="INTEGER" />
	  <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
	  <result column="user_code" property="userCode" jdbcType="VARCHAR" />
	  <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
	  <result column="user_type" property="userType" jdbcType="CHAR" />
	  <result column="user_state" property="userState" jdbcType="CHAR" />
	  <result column="is_delete" property="isDelete" jdbcType="CHAR" />
	  <result column="create_by" property="createBy" jdbcType="INTEGER" />
	  <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	  <result column="update_by" property="updateBy" jdbcType="INTEGER" />
	  <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<!-- 查询用户 -->
	<select id="findUserInfo" parameterType="UserInfo" resultMap="BaseResultMap">
		select * from user_info
		<where>
			<if test="userId!=null">
				and user_id = #{userId}
			</if>
			<if test="userCode!=null and userCode!=''">
				and user_code = #{userCode}
			</if>
			<if test="userPwd!=null and userPwd!=''">
				and user_pwd =MD5(#{userPwd}) 
			</if>
			<if test="userState!=null and userState!=''">
				and user_state = #{userState} 
			</if>
			<if test="isDelete!=null and isDelete!=''">
				and is_delete = #{isDelete}
			</if>
		</where>
	</select>
 	<resultMap id="UserListResultMap" type="com.vo.UserInfo" >
	  <id column="user_id" property="userId" jdbcType="INTEGER" />
	  <result column="group_id" property="groupId" jdbcType="INTEGER" />
	  <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
	  <result column="user_code" property="userCode" jdbcType="VARCHAR" />
	  <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
	  <result column="user_type" property="userType" jdbcType="CHAR" />
	  <result column="user_state" property="userState" jdbcType="CHAR" />
	  <result column="is_delete" property="isDelete" jdbcType="CHAR" />
	  <result column="create_by" property="createBy" jdbcType="INTEGER" />
	  <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	  <result column="update_by" property="updateBy" jdbcType="INTEGER" />
	  <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	  <association property="userGroup" javaType="UserGroup">
	  	<id column="group_id" property="groupId" jdbcType="INTEGER" />
	    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
	    <result column="group_code" property="groupCode" jdbcType="VARCHAR" />
	    <result column="group_desc" property="groupDesc" jdbcType="VARCHAR" />
	    <result column="group_state" property="groupState" jdbcType="CHAR" />
	  </association>
	  <association property="role" javaType="Role">
		<id column="role_id" property="roleId" jdbcType="INTEGER" />
		 <result column="role_name" property="roleName" jdbcType="VARCHAR" />
		 <result column="role_desc" property="roleDesc" jdbcType="VARCHAR" />
		 <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
		 <result column="role_state" property="roleState" jdbcType="CHAR" />
		 <result column="create_by" property="createBy" jdbcType="INTEGER" />
		 <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		 <result column="update_by" property="updateBy" jdbcType="INTEGER" />
		 <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	  </association>
	</resultMap>
	<!-- 查询用户，用户组，角色 -->
	<select id="findUserList" parameterType="HashMap" resultMap="UserListResultMap">
		select ui.*,ug.*,r.* from user_info ui,user_group ug,role r
		<where>
		 	and ui.group_id=ug.group_id and ui.user_type=r.role_id
			<if test="user.userCode!=null and user.userCode!=''">
				and ui.user_code like concat('%',#{user.userCode},'%') 
			</if>
			<if test="user.userType!=null and user.userType!=''">
				and ui.user_type = #{user.userType}
			</if>
			<if test="user.userState!=null and user.userState!=''">
				and ui.user_state = #{user.userState}
			</if> 
			<if test="user.isDelete!=null and user.isDelete!=''">
				and ui.is_delete = #{user.isDelete}
			</if>
		</where>
			<if test="page!=null">
				limit #{page.limitIndex},#{page.pageSize}
			</if>
	</select>
	<!-- 添加 -->
	<insert id="insertUserInfo" parameterType="com.vo.UserInfo" >
    	insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null and groupId !=''" >
        group_id,
      </if>
      <if test="userCode != null and userCode !=''" >
        user_code,
      </if>
      <if test="userPwd != null and userPwd !=''" >
        user_pwd,
      </if>
      <if test="userType != null and userType !=''" >
        user_type,
      </if>
      <if test="createBy != null and createBy !=''" >
        create_by,
      </if>
      <if test="updateBy != null and updateBy !=''" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null and groupId !=''" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="userCode != null and userCode !=''" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null and userPwd !=''" >
        MD5(#{userPwd,jdbcType=VARCHAR}),
      </if>
      <if test="userType != null and userType !=''" >
        #{userType,jdbcType=CHAR},
      </if>
      <if test="createBy != null and createBy !=''" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null and updateBy !=''" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!-- 修改 -->
  <update id="updateUserInfo" parameterType="com.vo.UserInfo" >
    update user_info
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="userPwd != null and userCode !=''" >
        user_pwd = MD5(#{userPwd,jdbcType=VARCHAR}),
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=CHAR},
      </if>
      <if test="userState != null" >
        user_state = #{userState,jdbcType=CHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
   <resultMap id="findUserRole" type="com.vo.UserRole" >
    <id column="user_role_id" property="userRoleId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <!-- 查询用户角色 -->
  <select id="findUserRole" parameterType="com.vo.UserRole" resultMap="findUserRole">
  	select * from user_role
  	<where>
  		<if test="userId!=null">
  			user_id=#{userId}
  		</if>
  	</where>
  </select>
  <!-- 删除 -->
  <delete id="deleteUserRole" parameterType="com.vo.UserRole">
  	delete from user_role
  	<where>
  		<if test="userId!=null">
  			user_id=#{userId}
  		</if>
  	</where>
  </delete>
  <!-- 添加 -->
  <insert id="insertUserRole" parameterType="com.vo.UserRole">
  	insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="findUserAuth" type="com.vo.UserAuth" >
    <id column="user_auth_id" property="userAuthId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="auth_id" property="authId" jdbcType="INTEGER" />
  </resultMap>
  <!-- 查询用户权限 -->
  <select id="findUserAuth" parameterType="com.vo.UserAuth" resultMap="findUserAuth">
  	select * from user_auth
  	<where>
  		<if test="userId!=null">
  			user_id=#{userId}
  		</if>
  	</where>
  </select>
  <!-- 删除 -->
  <delete id="deleteUserAuth" parameterType="com.vo.UserAuth">
  	delete from user_auth
  	<where>
  		<if test="userId!=null">
  			user_id=#{userId}
  		</if>
  	</where>
  </delete>
  <!-- 添加 -->
  <insert id="insertUserAuth" parameterType="com.vo.UserAuth">
  	insert into user_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="authId != null" >
        auth_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="authId != null" >
        #{authId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  
  
  
</mapper>